h3{
    color: darkorange;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-style:oblique;
}

.enlace
{
    padding: 30px;
}
p{
    text-align: left;
}

h3{
    color: darkorange;
    text-decoration: underline;
    text-align: center;
    background-color: black;
}

p{
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: darkorange;
    font-size: 18px;
    font-weight: 14px;
}

h2
{
    color: darkorange;
    background-color: black;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
}

#titulo
{
    font-size: 25px;
    color: darkorange;
    background-color: black;
    font-style: oblique;
}


.lista{
    color: darkorange;
    margin: 3px;
    font-size: 20px;
}
.lista2
{
    color: darkorange;
    margin: 3px;
    font-size: 20px;
}

.lista3
{
    color: darkorange;
    font-size: 20px;
    margin: 3px
}